html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 40px;
  padding-bottom: 25px;
  background-color: #18181b;
}



html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navbar */

.nav--container {
  display: flex;
  justify-content: space-between;
  
}

.nav--bar {
  display: flex;
  align-items: center;
  background-color: #057eff;
  height: 91px;
  font-family: 'Inter', sans-serif;
  gap: 2em;
  position: relative;
  width: 100%;
}

.nav--icon {
  height: 45px;
  padding-right: 8px;
  padding-left: 15px;
}

.nav--item{
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

.nav--bar.title {
  justify-content: end;
  padding-right: 20px;
  font-style: italic;
  font-size: 2rem;
}

.nav--item:hover{
  text-decoration: underline;
}

.nav--button {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: block;
  font-size: 35px;
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: flex;
  border-radius: 20px;
}

.nav--button:hover ul {
  color: #21222A;
  background-color: white;
  transition: 0.3s ease-in-out all;
  
}

.nav--dropdown {
  display: flex;
  padding: 0;
  
}
.navigation--menu .nav--link {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation--menu .nav--link a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: white;
}

.navigation--menu, .nav--button {
  margin-left: auto;
}


@media screen and (min-width:450px){
  .nav--button, .navigation--menu{
    display: none;
  }
}

@media screen and (max-width:450px) {
  
  .nav--item, .nav--bar.title{
    display: none;
  }
  
  .nav--dropdown {
    display: none;
  }

  .nav--dropdown .nav--link {
    left: 0;
    z-index: 1;
    width: 100%;
    position: relative;
  }

  .navigation--menu.expanded {
    height: 230px;
  }

  .navigation--menu.expanded .nav--dropdown {
    position: absolute;
    top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 230px;
    background-color: white;
    border-top: 1px solid black;
    display: block;
    
  }


  .navigation--menu .nav--link {
    text-align: center;
    margin: 0;
  }
  .navigation--menu .nav--link a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }
}

/* Main Container */

.main--container {
  height: auto;
  color: white;
  z-index: 0;
}

.video--container {
  overflow: hidden;
  z-index: 0;
  
}

.background--video{
  max-width: none;
  width: 100vw;
  background-color: black;
}

.content--row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

@media screen and (max-width:960px){
  .content--row{
    grid-template-columns:1fr;
    justify-content: center;
  }
}

.champion--container {
  display: flex;
  align-items: center;
}

.champion--container button {
  background:transparent;
  border:transparent;
  font-size:1.5rem;
  cursor:pointer;
  transition: 0.3s ease-in-out all;
}

.left--button:hover {
  color: white;
  transform:translateX(-1px);
}

.right--button:hover {
  color: white;
  transform:translateX(+1px);
}

.champion--list {
  margin-left: 20px;
}

.fb {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.fb--container {
  width: 340px;
}

/* Engines Nav Page */

.engine--main-container {
  display: flex;
  padding-top: 10px;
  padding-left: 15px;
  flex-direction: column;
}

.engine--seletion-container {
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.engine--seletion-container.two {
  margin-top: 15px;
  margin-bottom: 20px;
}

.engine--seletion-container ul {
  display: grid;
  gap: 10px;
}

.engine--seletion-container a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.engine--seletion-container a:hover {
  text-decoration: underline;
}

.logos--container {
  width: 182px;
  transition: .2s;
}

.logos--container:hover {
  transform: scale(1.1);
}

.logo {
  width: 182px;
}

.logo--two{
  border-radius: 50%;
  height: 150px;
}

@media screen and (min-width:960px){
  .engine--main-container {
    margin-left: calc(50% - 240px);
  }
}

@media screen and (max-width:450px){
  .logo, .logo--two, .logos--container {
    width: 120px;
  }
  
  .logo--two{
    height: 120px;
  }

}



/* Engine Pages */

.engine--container {
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}

.engine-h1 {
  color: white;
}

/*Contact */

.contact--container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  color: white;
  margin: 20px 20px;
  text-align: center;
  justify-content: space-evenly;
}

.contact--info {
  width: 275px;
  background-color: white;
  border-radius: 55px;
  padding-left: 15px;
  padding-right: 15px;
  color: #18181b;
}

.contact--info h3 {
  font-size: 30px;
}


@media screen and (max-width:850px){
  .contact--container, .contact--directions {
    flex-direction: column;
    align-items: center;
  }

  
}

.contact--directions {
  background-color: white;
  align-items: center;
  display: flex;
  gap: 15px;

}

.contact--directions div {
  margin-left: 15px;
  margin-right: 15px;
}

/* Footer */

.footer {
  background-color:#057eff;
  color: white;
  height: 40px;
  justify-content: center;
  display: grid;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  overflow: hidden;
}

.footer p {
  margin-top: 0px;
  margin-bottom: 0px;
}
